/*

Your styles go here!

Hint! You'll probably want to start by styling:
  * <body>
  * <article>
  * <h1>
  * <img>

I've left some boilerplate below for you.

*/

body {
    font-family: 'Cabin', sans-serif;
    line-height: 1.5em;
    font-size: 1.2em;
    text-align: center;
}

article {
    margin: 0 auto;
    max-width: 50em; /*50 x 16px = 800px*/
    border-bottom: 1px solid #ddd;
}

img {
    max-width: 100%;
    width: 100%;
}

figcaption {
  color: #bb021e;
  padding: 1em 0;
}

footer {
  margin: 0 auto;
  max-width: 800px;
}

header {
  margin: 0 auto;
  max-width: 800px;
  line-height: 2em;
}

.footer-ul {
    padding-left: 0;
    -webkit-padding-start: 0;
}

.footer-li {
    display: inline-block;
    max-width: 100%;
}



